[defaults]
ansible_managed = "$Ansible {{{{ template_path|basename + lookup('pipe', 'git log --format=",%%h %%ad %%ae" -1 --date=format:"%%Y/%%m/%%d %%H:%%M" ' + template_fullpath|quote)|default(",UNCOMMITED", True) }}}}$"

inventory = ansible/playbooks/hosts.ini
#inventory = ansible/playbooks/aws_ec2.yaml
playbook_dir = ansible/playbooks

host_key_checking = false
allow_world_readable_tmpfiles = true

# see https://docs.ansible.com/ansible/latest/reference_appendices/config.html (TRANSFORM_INVALID_GROUP_CHARS)
#force_valid_group_names = ignore

#TODO:psolomon use different ansible.cfg for EKS
# aws dynamic inventory
#[inventory]
#enable_plugins = aws_ec2
