DATABASES = {
    'default': {
        'ATOMIC_REQUESTS': True,
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': "awx",
        'USER': "{{ postgres_username }}",
        'PASSWORD': "{{ secrets.postgres.postgres_password }}",
        'HOST': "{{ awx_postgres_ip_address }}",
        'PORT': "5432",
    }
}
